.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  background: url('/assets/images/background.png') no-repeat;
  background-size: cover;
  background-position: top;
  background-blend-mode: saturation;
}

.container {
  position: relative;
}

.my-video {
  border-radius: 1rem;
}

.object-detection {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 99999;
}

.audio-button-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.audio-button-container button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.wrapper {
  position: relative;
}

.container {
  position: relative;
}

.my-video {
  width: 100%;
  height: auto;
}

.object-detection {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Menjaga canvas tetap di atas video */
}

.audio-player-container {
  position: absolute;
  top: 20px; /* Atur posisi sesuai kebutuhan */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 80%; /* Ukuran audio player */
}

audio {
  width: 100%; /* Sesuaikan dengan lebar container */
}
